<h1>Student data</h1>
<table>
  <thead>
    <tr>
      <th>Student ID</th>
      <th>First Name</th>
      <th>Surname</th>
    </tr>
  </thead>
  <tbody>
  <% students.forEach(student => { %>
    <tr>
      <td><%= student.student_id %></td>
      <td><%= student.first_name %></td>
      <td><%= student.surname %></td>
    </tr>
  <% }); %>
  </tbody>
</table>